
.hide {
  display: none;
}

.accent {
  color: $accent;
}

.valid-color {
  color: $valid-color;
}

.error-color {
  color: $error-color;
}

.relative {
  position: relative;
}

.text-color {
  color: $text-color;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.no-padding-top {
  padding-top: 0;
}

.half-gutter-padding {
  padding: $half-column-gutter;
}

.half-gutter-padding-top {
  padding-top: $half-column-gutter;
}

.half-gutter-padding-left {
  padding-left: $half-column-gutter;
}

.half-gutter-padding-right {
  padding-right: $half-column-gutter;
}

.half-gutter-padding-bottom {
  padding-bottom: $half-column-gutter;
}

.gutter-padding {
  padding: $column-gutter;
}

.gutter-padding-top {
  padding-top: $column-gutter;
}

.gutter-padding-left {
  padding-left: $column-gutter;
}

.gutter-padding-right {
  padding-right: $column-gutter;
}

.gutter-padding-bottom {
  padding-bottom: $column-gutter;
}

.half-gutter-margin {
  margin: $half-column-gutter;
}

.half-gutter-margin-top {
  margin-top: $half-column-gutter;
}

.half-gutter-margin-left {
  margin-left: $half-column-gutter;
}

.half-gutter-margin-right {
  margin-right: $half-column-gutter;
}

.half-gutter-margin-bottom {
  margin-bottom: $half-column-gutter;
}

.gutter-margin {
  margin: $column-gutter;
}

.gutter-margin-top {
  margin-top: $column-gutter;
}

.gutter-margin-left {
  margin-left: $column-gutter;
}

.gutter-margin-right {
  margin-right: $column-gutter;
}

.gutter-margin-bottom {
  margin-bottom: $column-gutter;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.bc-transparent {
  background-color: transparent;
}
