.regular {
  font-family: $base-font-family;
}

.medium {
  font-family: $base-font-family;
  font-weight: $font-weight-medium;
}

.semi-bold {
  font-family: $base-font-family;
  font-weight: $font-weight-semi-bold;
}

.bold {
  font-family: $base-font-family;
  font-weight: $font-weight-bold;
}
