.container {
  padding: 0;
  margin: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin-left: -$half-column-gutter;
  margin-right: -$half-column-gutter;
  padding-bottom: $half-column-gutter;
}

.column {
  box-sizing: border-box;
  flex: 0 1 auto;
  padding-left: $half-column-gutter;
  padding-right: $half-column-gutter;
}

.col-1 {
  width: 8.3333%;
}

.col-2 {
  width: 16.6666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333%;
}

.col-5 {
  width: 41.6666%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333%;
}

.col-8 {
  width: 66.6666%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333%;
}

.col-11 {
  width: 91.6666%;
}

.col-12 {
  width: 100%;
}

.push-1 {
  margin-left: 8.3333%;
}

.push-2 {
  margin-left: 16.6666%;
}

.push-3 {
  margin-left: 25%;
}

.push-4 {
  margin-left: 33.3333%;
}

.push-5 {
  margin-left: 41.6666%;
}

.push-6 {
  margin-left: 50%;
}

.push-7 {
  margin-left: 58.3333%;
}

.push-8 {
  margin-left: 66.6666%;
}

.push-9 {
  margin-left: 75%;
}

.push-10 {
  margin-left: 83.3333%;
}

.push-11 {
  margin-left: 91.6666%;
}

@media #{$large-down} {

  .lrg-no-padding-bottom {
    padding-bottom: 0;
  }

  .lrg-padding-bottom {
    padding-bottom: $column-gutter;
  }

  .col-lrg-1 {
    width: 8.3333%;
  }

  .col-lrg-2 {
    width: 16.6666%;
  }

  .col-lrg-3 {
    width: 25%;
  }

  .col-lrg-4 {
    width: 33.3333%;
  }

  .col-lrg-5 {
    width: 41.6666%;
  }

  .col-lrg-6 {
    width: 50%;
  }

  .col-lrg-7 {
    width: 58.3333%;
  }

  .col-lrg-8 {
    width: 66.6666%;
  }

  .col-lrg-9 {
    width: 75%;
  }

  .col-lrg-10 {
    width: 83.3333%;
  }

  .col-lrg-11 {
    width: 91.6666%;
  }

  .col-lrg-12 {
    width: 100%;
  }
}

@media #{$medium-down} {
  .med-no-padding-bottom {
    padding-bottom: 0;
  }

  .med-padding-bottom {
    padding-bottom: $column-gutter;
  }

  .col-med-1 {
    width: 8.3333%;
  }

  .col-med-2 {
    width: 16.6666%;
  }

  .col-med-3 {
    width: 25%;
  }

  .col-med-4 {
    width: 33.3333%;
  }

  .col-med-5 {
    width: 41.6666%;
  }

  .col-med-6 {
    width: 50%;
  }

  .col-med-7 {
    width: 58.3333%;
  }

  .col-med-8 {
    width: 66.6666%;
  }

  .col-med-9 {
    width: 75%;
  }

  .col-med-10 {
    width: 83.3333%;
  }

  .col-med-11 {
    width: 91.6666%;
  }

  .col-med-12 {
    width: 100%;
  }
}

@media #{$small-down} {
  .sml-no-padding-bottom {
    padding-bottom: 0;
  }

  .sml-padding-bottom {
    padding-bottom: $column-gutter;
  }

  .col-sml-1 {
    width: 8.3333%;
  }

  .col-sml-2 {
    width: 16.6666%;
  }

  .col-sml-3 {
    width: 25%;
  }

  .col-sml-4 {
    width: 33.3333%;
  }

  .col-sml-5 {
    width: 41.6666%;
  }

  .col-sml-6 {
    width: 50%;
  }

  .col-sml-7 {
    width: 58.3333%;
  }

  .col-sml-8 {
    width: 66.6666%;
  }

  .col-sml-9 {
    width: 75%;
  }

  .col-sml-10 {
    width: 83.3333%;
  }

  .col-sml-11 {
    width: 91.6666%;
  }

  .col-sml-12 {
    width: 100%;
  }
}

@media #{$xsmall-down} {
  .xsml-no-padding-bottom {
    padding-bottom: 0;
  }

  .xsml-padding-bottom {
    padding-bottom: $column-gutter;
  }

  .col-xsml-1 {
    width: 8.3333%;
  }

  .col-xsml-2 {
    width: 16.6666%;
  }

  .col-xsml-3 {
    width: 25%;
  }

  .col-xsml-4 {
    width: 33.3333%;
  }

  .col-xsml-5 {
    width: 41.6666%;
  }

  .col-xsml-6 {
    width: 50%;
  }

  .col-xsml-7 {
    width: 58.3333%;
  }

  .col-xsml-8 {
    width: 66.6666%;
  }

  .col-xsml-9 {
    width: 75%;
  }

  .col-xsml-10 {
    width: 83.3333%;
  }

  .col-xsml-11 {
    width: 91.6666%;
  }

  .col-xsml-12 {
    width: 100%;
  }
}
